body {
  background: rgba(150, 168, 86, 1);

  background-image: url("src/images/background 3.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.quiz-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 10px 10px;
}

.question-text {
  align-items: center;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
}
