.card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
}

.card.large {
  width: 240px;
  height: 290px;
  border-radius: 20px;
}

.card.small {
  width: 140px;
  height: 190px;
  border-radius: 10px;
}

.card:hover {
  filter: brightness(1.05);
  transition: filter 0.3s ease;
}

.card:hover {
  background-size: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card.bored,
.card.happy,
.card.sad,
.card.angry {
  background-size: cover;
  background-position: center;
}

.textBox {
  width: min(600px, 100%);
  height: auto;
  min-height: 300px;
}

.cardText {
  font-size: 10px;
}
